// Navigation code here

.nav-container {
    background: @wild-sand;
    width: 100%;
    border-bottom: @sea-shell;

    .logo-heading {
        font-size: 4rem;
        text-align: center;
        padding: 10px 0;

    }

    .nav {
        padding: 10px 0;
        font-size: 1.75rem;
        text-align: center;

        @media @phone {
            padding: 8px 0;
            font-size: 1.5rem;
        }

        a {
            color: @river-bend;
            text-decoration: none;
            padding: 0 12px;
        }
    }
}